#include "wx/msw/wx.rc"

#ifdef USE_ACTIVATION
/////////////////////////////////////////////////////////////////////////////
//
// DLL
//

1                       DLL     DISCARDABLE     "../gameEditor/eSellerateEngine.dll"
#endif